<div class="loginContainer">
  <div class="animatedBackground"></div>

  <div #loginBox class="loginBox">
    <!-- Sezione Sinistra: Logo -->
    <div #loginLeft class="welcomeContainer">
      <div class="logo">
        <img src="/assets/images/Designer.png" alt="Logo" />
      </div>
    </div>

    <!-- Sezione Destra: Form di Login -->
    <div #loginRight class="loginRight">
      <!-- Logo posizionato in alto a sinistra -->
      <div class="topLogo">
        <img src="/assets/images/logo/logoVDGminimal.png" alt="Logo" />
      </div>

      <!-- Testo centrato -->
      <div class="welcomeText">
        <h2>Bentornato nel <br /> <span>Varese Developer Group</span></h2>
        <hr />
        <p>Accedi per non perderti i prossimi eventi</p>
      </div>

      <!-- Form ben spaziato sotto -->
      <form (ngSubmit)="login()" class="loginForm">
        <div class="input-group">
          <input class="input-text" name="email" type="email" id="email" placeholder="Email" [(ngModel)]="email"
            required />
          <label class="input-text-label" for="text">Email</label>
          <span class="icon"><i class="fa-solid fa-envelope"></i></span>
        </div>
        <div class="input-group">
          <input class="input-text" name="password" type="password" id="password" placeholder="Password"
            [(ngModel)]="password" required />
          <label class="input-text-label" for="text">Password</label>
          <span class="icon">🔒</span>
        </div>
        <div class="loginActions">
          <label class="cyberpunk-checkbox-label">
            <input type="checkbox" class="cyberpunk-checkbox">
            Ricordami</label>

          <div class="buttonContainer">
            <button class="animated-button-login">
              <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                </path>
              </svg>
              <span class="text">Accedi </span>
              <span class="circle"></span>
              <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                </path>
              </svg>
            </button>
            <br /><br />
            <button class="animated-button" routerLink="/auth/register">
              <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                </path>
              </svg>
              <span class="text">Crea un Account </span>
              <span class="circle"></span>
              <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                </path>
              </svg>
            </button>
            <br /><br />
          </div>

          <p class="forgotPassword">
            Password dimenticata? <a href="#">Clicca qui per recuperarla</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>